* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
}

.logo {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.title {
  text-align: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 24px;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

td {
  text-align: center;
  cursor: text;
}

th {
  background-color: #0099FF;
  color: #fff;
  border-right-color: #0099FF;
}

table {
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
}

.errors {
  background-color: crimson;
  color: #fff;
}

/* Form */

.form {
  padding: 20px 0px;
}

.label {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 7px;
}

.input {
  width: 100%;
  padding: 7px;
  margin: 7px 0px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.small {
  width: 32.33%;
  float: left;
  margin-right: 1%;
}

.tree {
  margin-right: 0px !important;
}

.btn {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.btnAdiciona {
  width: 250px;
  background-color: #0099FF;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#mensagens-erro {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-top: 5px;
  color: red;
}

#mensagens-erro li {
  display: inline;
  margin: 10px;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-paciente {
  width: 200px;
  height: 35px;
  margin-top: 5px;
}

#erro-ajax {
  color: tomato;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: bold;
}

.hide {
  display: none;
}